<a href="https://colab.research.google.com/github/dzhamalovas/Osnovy_programming/blob/main/Lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Задание task_04_02_01.

 Выполнил: Джамалова С.Ш.
 Группа: АДЭУ-221
 E-mail: jamalovasabina@yandex.ru

Рассчитать значение f при заданном значении вещественного числа x:![image.png]()
,при x⩾0,в противном случае.
При выводе на экран оставьте 2 знака после запятой.

In [1]:
x = int(input("Введите число:")) #Ввод целого числа

if x >= 0: #условное ветвление
    f = (x**(1/2))+(x**2)
else: #иначе
    f = 1/x

print('f =', round(f, 2)) #вывод данных

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

Введите число:10
f = 103.16

# № 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [37]:
a1 = int(input('Введите первое число:')) #Ввод целого числа
a2 = int(input('Введите второе число:' )) #Ввод целого числа


print('Максимум:', max(a1, a2), ',' ' минимум:', min(a1, a2)) #вывод данных

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите первое число:100
Введите второе число:-1
Максимум: 100 , минимум: -1

# № 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

In [38]:
a = int(input('Ширина форточки: ')) #Ввод целого числа
b = int(input('Высота форточки: ')) #Ввод целого числа
d = int(input('Диаметр головы: ')) #Ввод целого числа

if ((a or b or d) < 0): #условное ветвление
    print('Проверьте ввод') #вывод данных
else: #иначе
    if ((a-1>=d) and (b-1>=d)): #условное ветвление
  
        print('Да') #вывод данных
    else: #иначе
        print('Нет') #вывод данных

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Ширина форточки: 6
Высота форточки: 7
Диаметр головы: 4
Да

# № 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [67]:
year_today = int(input('Введите текущий год: ')) #Ввод целого числа
month_today = int(input('Введите текущий месяц: ')) #Ввод целого числа
year = int(input('Введите год рождения: ')) #Ввод целого числа 
month = int(input('Введите месяц рождения: ')) #Ввод целого числа

age = year_today-year #Формула (нынешний год-год рождения)

if month>month_today: #условие для вычисления полных лет
  print('Число полных лет:', age-1)
else:
 print('Число полных лет:', age)

# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год: 2020
Введите текущий месяц: 5
Введите год рождения: 2000
Введите месяц рождения: 5
Число полных лет: 20

# № 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [34]:
x = int(input('Введите координату х: ')) #Ввод целого числа
y = int(input('Введите координату у: ')) #Ввод целого числа

if (x>0 and y>0):
    print('1-я четверть')
elif (x<0 and y>0):
    print('2-я четверть')
elif (x<0 and y<0):
    print('3-я четверть')
elif (x>0 and y<0):
    print('4-я четверть') #условия по расположению чисел на координатной плоскости

# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату х: 5
Введите координату у: 7
1-я четверть

# № 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [81]:
a = float(input('a= ')) #Ввод вещественного числа
b = float(input('b= ')) #Ввод вещественного числа
c = float(input('c= ')) #Ввод вещественного числа
d = ((b**2)-(4*a*c)) #формула дискриминанта
if a==0:
  print('Решений нет')

elif d<0:
    print('Решений нет')
elif d==0:
    x1 = ((-1*b)/2*a)
    print('x = ', x1)
elif d>0:
    x2 = (((-1*b)+(d**(1/2)))/2*a)
    x1 = (((-1*b)-(d**(1/2)))/2*a)
    print('x1 =',x1,',' ' x2 =',x2)

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a= 1
b= 2
c= 3
Решений нет

# 4.2.2. Цикл с условием
# № 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  
nums_count = 0 

x = int(input('Введите 1-e число: '))  #Ввод целого числа
a=[] #пустой список

while x!= 0: #цикл с условием
    nums_count = nums_count+1 #количество увеличивается на 1
    a.append(x) #добавление в список
    nums_sum = nums_sum+x #сумма
    x = int(input('Введите следующеe число: ')) #ввод целого числа
    
print('Сумма = ', nums_sum)
print('Количество = ',nums_count)


# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите 1-e число: 1
Введите следующеe число: 2
Введите следующеe число: 3
Введите следующеe число: 4
Введите следующеe число: 0
Сумма =  10
Количество =  4

# № 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input('n = '))  #Ввод целого числа

a = 0
b = list() #Список
b.append(a) # Добавление элемента в конец списка

while a<=n:
    a = a+5
    b.append(a) #Добавляет элемент в конец списка

b.pop() #Pop вычитает последний элемент из списка
print(b)


# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

n = 12
[0, 5, 10]

# № 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно
![image.png]()

In [ ]:
a = float(input('a= '))  #Ввод вещественного числа

n = 1 
x_sum = list() #список
x_sum.append(n) #добавление элемента 

while sum(x_sum)<=a: #цикл с условием
    n = n+1
    g = 1/n
    x_sum.append(g) #добавление элемента

print('n=', n)


# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

a= 2
n= 4

# № 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = list(map(int, input('n = '))) #Ввод данных
#map использует каждый элемент введенного числа.
#list - список



n_sum = sum(n) #сумма всех элементов
n_count = len(n) #количество элементов

print('Сумма =', n_sum)
print('Количество =', n_count)


# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

n = 12345
Сумма = 15
Количество = 5

#№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
start = int(input('start = '))  #Ввод целого числа
k = int(input('k = ')) #Ввод целого числа 
s = int(input('s = ')) #Ввод целого числа

need = list() #список

while start%s!=0: #цикл с условием 
    start += 1
else:
    for x in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start) #добавление элемента

print(need[:10])

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

start = 100
k = 7
s = 9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

# № 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
a = int(input('a = ')) #Ввод целого числа
b = int(input('b = ')) #Ввод целого числа

с = list(range(a,b+1,1)) #список
print(с)


с.reverse() #переворот списка
print("\n".join(map(str, с))) #str - строковые данные

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

a = 1
b = 5
[1, 2, 3, 4, 5]
5
4
3
2
1

# № 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:

сумму всех целых чисел от a до b;

произведение всех целых чисел от a до b;

среднее арифметическое всех целых чисел от a до b;

среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
a = int(input('a = ')) #Ввод целого числа
b = int(input('b = ')) #Ввод целого числа

ls = list(range(a,b+1,1))  #список
n_sum = sum(ls) #сумма

n_mult = 1
a = 1
while a<len(ls):
    n_mult = n_mult*ls[a]
    a += 1

n_avg = n_sum/len(ls)
b = 1
c = 0
n_avg_geom = 1
while b<len(ls):
    if ls[b]%2==1:
        n_avg_geom = n_avg_geom*ls[b]
        b += 2
        c += 1
    else:
        b += 1

c += 1
n_avg_geom = round((n_avg_geom**(1/c)),2)
print('Сумма =', n_sum)
print('Произведение =', n_mult)
print('Среднее арифметическое =', n_avg)
print('Среднее геометрическое нечетных чисел =', n_avg_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

a = 1
b = 5
Сумма = 15
Произведение = 120
Среднее арифметическое = 3.0
Среднее геометрическое нечетных чисел = 2.47

# № 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

пробег лыжника за второй, третий, …, десятый день тренировок;

какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой

In [ ]:
s = float(input('Пробег за 1-й день (км.) = '))  #Ввод вещественного числа
p = float(input('На сколько увеличивает пробег (%) = '))  #Ввод вещественного числа

tot = list() #список
tot.append(s) #добавление элемента

g = 0 
f = 1
for x in range(9): #повторение цикла 9 раз 
    s = ((s*(p/100))+s)+0.0001
    f += 1
    tot.append(s)
    print('Пробег за',f,'день:', round(s,1), 'км.')

total = sum(tot)
print("Суммарный пробег:", round(total,1), 'км.')

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Пробег за 1-й день (км.) = 5
На сколько увеличивает пробег (%) = 10
Пробег за 2 день: 5.5 км.
Пробег за 3 день: 6.1 км.
Пробег за 4 день: 6.7 км.
Пробег за 5 день: 7.3 км.
Пробег за 6 день: 8.1 км.
Пробег за 7 день: 8.9 км.
Пробег за 8 день: 9.7 км.
Пробег за 9 день: 10.7 км.
Пробег за 10 день: 11.8 км.
Суммарный пробег: 79.7 км.

# № 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = int(input('Грузоподъемность грузовика (кг.) = ')) #Ввод целого числа
n = int(input('Количество предметов (шт.) = ')) #Ввод целого числа

amount = list() #список
for x in range(n): #для х в рамках диапазона n
    f = int(input('Масса предмета (кг.) = ')) #ввод целого числа
    amount.append(f) #добавление элемента 

if sum(amount)>=p: #проверка данных через if-else
    print('Нет')
else:
    print('Да')

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоподъемность грузовика (кг.) = 10
Количество предметов (шт.) = 2
Масса предмета (кг.) = 3
Масса предмета (кг.) = 3
Да

# № 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [47]:
n = int(input('Количество районов = ')) #Ввод целого числа

total = list() #список
for x in range(n):
    s = float(input('Площадь района (га) = ')) #ввод вещественного числа
    p = float(input('Урожайность в районе (ц/га.) = ')) #ввод вещественного числа
    g = p*s
    total.append(g) #добавление элемента
    

print('Собрано пшеницы:' , round(sum(total), 1), 'ц.')

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Количество районов = 3
Площадь района (га) = 4
Урожайность в районе (ц/га.) = 2
Площадь района (га) = 7
Урожайность в районе (ц/га.) = 3
Площадь района (га) = 9
Урожайность в районе (ц/га.) = 4
Собрано пшеницы: 0 ц.

# № 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

Совет

In [23]:
nums_sum = 0  
nums_count = 0  

x = int(input('Введите 1-е число: ')) #Ввод целого числа
a = list() #список

while x!=0: #цикл с условием
    nums_count = nums_count+1
    a.append(x)
    nums_sum = nums_sum+x
    x = int(input('Введите новое число: '))
    if x==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите 1-е число: 1
Введите новое число: 2
Введите новое число: 3
Введите новое число: 4
Введите новое число: 0
Сумма =  10
Количество =  4

# № 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [28]:
sentence = input('Введите предложение: ')  #Ввод с клавиатуры

gl = 0  # Кол-во гласных
sogl = 0  # Кол-во согласных

for x in sentence: # Дополнительное условие на гласные
    sth = x.lower()
    if sth == "а" or sth == "я" or sth == "у" or\
       sth == "ю" or sth == "о" or sth == "е" or\
       sth == "ё" or sth == "э" or sth == "и" or\
       sth == "ы":
        gl += 1
    else: 
        sogl += 1

s1 = "гласных -"
s2 = "согласных -"
print('Кол-во букв в предложении: ', "{} {}, {} {}".format(s1, gl, s2, sogl)) #вывод данных

# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Введите предложение: Программирование
Кол-во букв в предложении:  гласных - 7, согласных - 9

# № 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a = int(input("а = ")) #Ввод целого числа
b = int(input("b = ")) #Ввод целого числа
c = int(input("с = ")) #Ввод целого числа

g = list() #список

for y in range(a,b+1):
    if y%c==0:
        g.append(y)

print(g)


# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

а = 1
b = 10
с = 2
[2, 4, 6, 8, 10]

# № 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n = int(input('n = ')) #Ввод целого числа

g = list()

for x in range(100, 1000): # 3-значные числа 
    a = sum(int(e) for e in str(x))
    if a==n:
        g.append(x)

print(g)

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

n = 3
[102, 111, 120, 201, 210, 300]

# № 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

In [49]:
n = int(input('n = ')) #Ввод целого числа

a = 0
b = 0
c = 0
f = 1

for x in range(n):
    rost = int(input('Pост ученика: ')) #ввод целого числа
    f += 1
    if rost<0:
        a += 1
        b -= rost
    else:
        c += rost

r_sr_m = b / a #средний рост мальчиков
r_sr_d = c / (n - a) #средний рост девочек

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

n = 5
Pост ученика: 150
Pост ученика: -150
Pост ученика: 160
Pост ученика: 170
Pост ученика: 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

# № 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [16]:

n = int(input('n = ')) #Ввод целого числа

g = list() 

for x in range(n):
    a = float(input('Число = '))
    g.append(a)

f = max(g) #максимальное число
k = min(g) #минимальное число

print('Максимум:', f)
print('Минимум: ', k)

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

n = 4
Число = 6.2
Число = 3.8
Число = 1.1
Число = 9.66
Максимум: 9.66
Минимум:  1.1

# № 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи

In [ ]:
n = int(input('n = ')) #Ввод целого числа

f1 = 1
f2 = 1
k = 1

while n!=f1: #цикл с условием
    if n<f1:
        print('Не является')
        break
    else:
        k = f1
        f1 += f2
        f2 = k
else:
    print('Является')

# --------------
# Пример вывода:
#
# n = 7
# Не является
#
# n = 8
# Является

n = 8
Является

# № 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [10]:
n = int(input('n = ')) #Ввод целого числа

g = list() #список
a = float(input('1-е число = ')) #ввод вещественного числа
g.append(a)
k = 1

for x in range(n-1):
    k += 1
    a = float(input('Следующее число = '))
    if a<=g[-1]:
        print(k)
        break


if a>g[-1]:
    print('Является')

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 2
# 2-е число = 4.6
# 3-е число = 6
# 4-е число = 8.3
# Является
#
# n = 3
# 1-е число = 3
# 2-е число = 3
# 2

n = 3
1-е число = 3
Следующее число = 3
2

# № 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

1 х 1 = 1     1 х 2 = 2      ...   1 х n = ...
2 х 1 = 2     2 х 2 = 4      ...   2 х n = ...
...           ...            ...   ...
n х 1 = ...   n х 2 = ...    ...   n х n = ...

In [46]:
n = int(input('n = ')) #Ввод целого числа

for x in range(1, n+1):
    for y in range(1, n+1):
        print(f'{x} * {y} = {x * y}\t', end=' ')
    print('')
# --------------
# Пример вывода:
#
# n = 5
# 1 * 1 =  1  1 * 2 =  2  1 * 3 =  3  1 * 4 =  4  1 * 5 =  5
# 2 * 1 =  2  2 * 2 =  4  2 * 3 =  6  2 * 4 =  8  2 * 5 = 10
# 3 * 1 =  3  3 * 2 =  6  3 * 3 =  9  3 * 4 = 12  3 * 5 = 15
# 4 * 1 =  4  4 * 2 =  8  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20
# 5 * 1 =  5  5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25

n = 5
1 * 1 = 1	 1 * 2 = 2	 1 * 3 = 3	 1 * 4 = 4	 1 * 5 = 5
2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10
3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15
4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20
5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25

# № 4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:

1 *
2 **
3 **
4 ***

In [44]:
n = int(input('Введите число: ')) #Ввод целого числа

for f in range(2,n+1):
    a = 2
    g = 2
    while (g*g<=f): #цикл с условием
        if f%g==0:
            a += 1
            b = f//g
            if b != g:
                a += 1
        g += 1
        
    print(f,a*"*")


# --------------
# Пример вывода:
#
# n = 10
# 1 *
# 2 **
# 3 **
# 4 ***
# 5 **
# 6 ****
# 7 **
# 8 ****
# 9 ***
# 10 ****

Введите число: 10
2 **
3 **
4 ***
5 **
6 ****
7 **
8 ****
9 ***
10 ****

# № 4.2.27

Выведите на экран (в строку) n первых простых чисел.

In [8]:
n = int(input('Введите целое число: '))*3 #Ввод целого числа
a = 1
g = list() #список

for x in range(1, n+1):
    c = 0
    for y in range(1, a+1):
        b = a % y
        if b == 0:
            c = c + 1
    if c == 2:
        g.append(a)
    else:
        x = x - 1
    a = a + 1

print(g)

# --------------
# Пример вывода:
#
# n = 10
# 2 3 5 7 11 13 17 19 23 29

Введите целое число: 10
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# № 4.2.28

Составьте программу для нахождения всех натуральных решений уравнения x2+y2+z2=k2, где x,y,z∈[1,30], а k вводится с клавиатуры.

In [41]:
k = int(input('k = '))  #Ввод целого числа

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x*x+y*y+z*z==k*k:
                print(f'x = {x}, y = {y}, z = {z}')

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4

k = 30
x = 4, y = 10, z = 28
x = 4, y = 20, z = 22
x = 4, y = 22, z = 20
x = 4, y = 28, z = 10
x = 10, y = 4, z = 28
x = 10, y = 20, z = 20
x = 10, y = 28, z = 4
x = 20, y = 4, z = 22
x = 20, y = 10, z = 20
x = 20, y = 20, z = 10
x = 20, y = 22, z = 4
x = 22, y = 4, z = 20
x = 22, y = 20, z = 4
x = 28, y = 4, z = 10
x = 28, y = 10, z = 4

# № 4.2.29

Дан список из n вещественных чисел, введенных с клавиатуры (среди чисел есть по крайней мере одно положительное и отрицательное число).

Сформируйте из него 2 списка:

положительных чисел, используя списковые включения;

отрицательных чисел, не используя списковые включения.

Выведите на экран:

исходный список;

получившиеся списки;

среднее арифметическое первого списка и среднее геометрическое второго списка.

При выводе вещественных результатов оставьте два знака после запятой.

# № 4.2.30

Дан список целых чисел, введенных с клавиатуры (длина неизвестна). Ответьте на вопросы:

являются ли все элементы положительными числами?

есть ли хотя бы один нулевой элемент в списке?

являются ли все элементы четными числами?

есть ли хотя бы один нечетный элемент в списке?

Каждый из пунктов выполните дважды: используя стандартный проход в цикле (например, через алгоритм с флажком), и используя функции any() и/или all().

In [6]:
nums = [int(item) for item in input().split()]

# 1. Все положительные
for item in nums:
    if item <= 0:
        all_pos_1 = False
        break
else:
    all_pos_1 = True

all_pos_2 = all([item > 0 for item in nums])

# 2. Хотя бы 1 нулевой элемент
for item in nums:
    if item == 0:
        any_zero_1 = True
        break
else:
    any_zero_1 = False

any_zero_2 = any([item == 0 for item in nums])

# 3. Все четные
for item in nums:
    if item % 2 == 1:
        all_even_1 = False
        break
else:
    all_even_1 = True

all_even_2 = all([item %2 == 0 for item in nums])

# 4. Хотя бы 1 нечетный элемент
for item in nums:
    if item % 2 == 1:
        any_odd_1 = True
        break
else:
    any_odd_1 = False

any_odd_2 = any([item % 2 == 1 for item in nums])


print("Все положительные:", all_pos_1, all_pos_2)
print("Хотя бы 1 нулевой элемент:", any_zero_1, any_zero_2)
print("Все четные:", all_even_1, all_even_2)
print("Хотя бы 1 нечетный элемент:", any_odd_1, any_odd_2)

# --------------
# Пример вывода:
#
# -1 1 100 0
# Все положительные: False False
# Хотя бы 1 нулевой элемент: True True
# Все четные: False False
# Хотя бы 1 нечетный элемент: True True

-1 1 100 0
Все положительные: False False
Хотя бы 1 нулевой элемент: True True
Все четные: False False
Хотя бы 1 нечетный элемент: True True

# № 4.2.31

Дано предложение. Выведите его на экран, удалив из него все слова, содержащие произвольную букву (вводится с клавиатуры).

In [64]:

# --------------
# Пример вывода:
#
# Введите предложение = МАМА мыла РаМу
# Введите букву = р
# МАМА мыла

# № 4.2.32

В зрительном зале кинотеатра n рядов, количество мест в которых может меняться. Разработчик смоделировал занятость мест как двумерный массив (список из списков), где каждый вложенный список содержит информацию о проданных местах в соответствующем ряду (1 - занято, 0 - свободно):

[
    [0, 0, 1],     # 1 ряд, первые 2 места свободны
    [1, 1, 1, 1],  # 2 ряд, все места заняты
    ...
]
Напишите программу, которая позволит пользователю увидеть количество свободных мест, а также, введя номер ряда и места, получить информацию - свободно оно или нет. Данные о занятости мест вводятся с клавиатуры (набор из 0 и 1 для каждого ряда).

# № 4.2.33

Вводится список из n сотрудников в формате:

Фамилия Имя Отчество Пол Стаж
где:

все значения разделены пробелом и сами не содержат пробелов;

Пол: "М" или "Ж";

Стаж: количество полных лет, отработанных в компании.

Сохраните введенные задания в виде списка списков:

[
    ["Петрова", "Анна", "Алексеевна", "Ж", 5],
    ["Семенов", "Николай", "Михайлович", "М", 2],
    ...
]
Далее:

определите самого «молодого» и самого «старого» сотрудника, используя функцию sorted();

сформируйте 2 отельных списка: мужчин и женщин и ответьте, в каком из списков больше имен, начинающихся на букву k (вводится с клавиатуры).

In [65]:

# Используйте данный список для собственных тестов,
# чтобы избежать постоянного ввода значений
# Перед автоматической проверкой удалите/закомментируйте его
# и используйте ввод с клавиатуры
e = [
    ['Петрова Анна Алексеевна Ж', 5],
    ['Семёнов Николай Михайлович М', 2],
    ['Михайлов Игорь Васильевич М', 3]
            ]

n = int(input('Количество сотрудников = '))


# --------------
# Пример вывода:
#
# Количество сотрудников = 3
# Петрова Анна Алексеевна Ж 5
# Семенов Николай Михайлович М 2
# Михайлов Игорь Васильевич М 3
# Cамый "молодой": Семенов Николай Михайлович
# Cамый "старый": Петрова Анна Алексеевна
# Введите букву начала имени = а
# У женщин таких имен больше
#
# Количество сотрудников = 3
# Петрова Анна Алексеевна Ж 5
# Семенов Николай Михайлович М 2
# Михайлов Игорь Васильевич М 3
# Cамый "молодой": Семенов Николай Михайлович
# Cамый "старый": Петрова Анна Алексеевна
# Введите букву начала имени = и
# У мужчин таких имен больше
#
# Количество сотрудников = 3 
# Петрова Анна Алексеевна Ж 5
# Семенов Николай Михайлович М 2
# Михайлов Алексей Васильевич М 3
# Cамый "молодой": Семенов Николай Михайлович
# Cамый "старый": Петрова Анна Алексеевна
# Введите букву начала имени = а
# Таких имен поровну у мужчин и женщин

Количество сотрудников = 3

# № 4.2.34

Вводится список из n годовых вкладов, предлагаемых банками, в формате:

Банк Сумма Процент
где:

все значения разделены пробелом и сами не содержат пробелов;

наименование банка уникально;

Сумма: сумма для открытия вклада в руб. (целое число, >0);

Процент: годовой процент по вкладу (вещественное число, (0,100]).

Сохраните введенные данные в виде списка словарей:

[
    {"name": "Банк 1", "initial_sum": 50000, "rate": 5.2},
    ...
]
Далее определите (гарантируется, что искомый банк - один):

самый доступный банк (с наименьшей первоначальной суммой);

самый выгодный банк, принимая, что за год прибыль = сумма * процент / 100.

При выводе финансовых значений оставьте два знака после запятой.