<a href="https://colab.research.google.com/github/dzhamalovas/Osnovy_programming/blob/main/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Выполнил: Джамалова С. Ш.
# Группа: АДЭУ-221
# E-mail: jamalovasabina@yandex.ru

# 7.2.1

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2):
 15. Необходимо искать остаток от деления, а не целочисленное деление.
 17. Необходимо найти сумму, а не количество 
 19. Выводит не сумму, а нам необходима именно она

"""


def sum_of_digits(n):
    """Returns the sum of digits less than 5 for a positive integer n.
     If there are no such digits, it returns 0."""
    c = 0
    while n > 0:
      digit = n % 10
      if digit < 5:
          c = c + digit
      n //= 10
    return c

In [ ]:
sum_of_digits(14)

5

In [ ]:
help(sum_of_digits)

Help on function sum_of_digits in module __main__:

sum_of_digits(n)
    Returns the sum of digits less than 5 for a positive integer n.
    If there are no such digits, it returns 0.

# 7.2.2

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 
14. Range не учитывает число, обозначенное за конечное
15. Range не учитывает число, обозначенное за конечное
18. Не входит во второй цикл for (Табуляция)
20. Необходимо рассмотреть иные случаи
"""


def primes(a, b):
    """Returns a list of primes between 'a' and 'b'."""
    res = []
    c = 0
    for i in range(a, b+1):
        for j in range(i+1):
            if i % (j + 1) == 0:
                c += 1
        if c == 2:
          res.append(i)
        else:
          c = 0
    return res

In [ ]:
primes(101,135)

[101, 103, 107, 109, 113, 127, 131]

In [ ]:
help(primes)

Help on function primes in module __main__:

primes(a, b)
    Returns a list of primes between 'a' and 'b'.

# 7.2.3

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 
23. Не может быть равно  
24. +1
"""


def first_vacant_row(seats):
    """Returns the first row with the most empty seats and how many of them. 
    Row numbering starting from 1. If there are no empty seats, return 0, 0.

    Options:
        - seats (list of list): information about sold tickets
                                (1 - sold, 0 - not).

   Result:
        - tuple (row, number of seats).
    """
    max_count = 0
    max_row = 0
    for row_index, row in enumerate(seats):
        available_seats_count = row.count(0)  # 0 - пусто
        if available_seats_count > max_count:
            max_row = row_index + 1
            max_count = available_seats_count

    return max_row, max_count

In [ ]:
import random
random.seed(50)

ROWS_MAX = 10
SEATS_MAX = 5

seats = [[random.randint(0, 1) for seat in range(SEATS_MAX)]
                                for row in range(ROWS_MAX)]
for seat in seats:
    print(seat)

print(first_vacant_row(seats))

[1, 1, 1, 0, 1]
[1, 0, 1, 0, 0]
[0, 1, 0, 1, 1]
[0, 0, 0, 1, 1]
[0, 0, 1, 1, 0]
[0, 1, 1, 1, 0]
[0, 1, 1, 1, 0]
[1, 0, 0, 1, 0]
[1, 1, 0, 1, 1]
[0, 1, 0, 0, 1]
(2, 3)

In [ ]:
help(first_vacant_row)

Help on function first_vacant_row in module __main__:

first_vacant_row(seats)
    Returns the first row with the most empty seats and how many of them.
     Row numbering starting from 1. If there are no empty seats, return 0, 0.

     Options:
         - seats (list of list): information about sold tickets
                                 (1 - sold, 0 - not).

    Result:
         - tuple (row, number of seats).

# 7.2.4

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 8 9 10 12
"""


def min_pair(nums):
    """Returns the minimum sum of adjacent 2 numbers in the 'nums'."""
    min1 = nums[0] + nums[1]
    for i in range(2, len(nums) - 1):
        min1 = min(nums[i] + nums[i + 1], min1)

    return min1

In [ ]:
import random

random.seed(50)

N_MAX = 10
RANGE_MIN = 1
RANGE_MAX = 100
nums = random.sample(range(RANGE_MIN, RANGE_MAX), N_MAX)

print(nums)
print(min_pair(nums))

[64, 35, 47, 82, 32, 89, 61, 99, 43, 11]
54

# 2 способ решения 7.2.4
Необходим, когда происходит нехватка данных

In [ ]:

def min_pair(nums):
    try:
        """Returns the minimum sum of adjacent 2 numbers in the 'nums'."""
        min1 = nums[0] * nums[1]
        for i in range(1, len(nums) - 1):
            min1 = min(nums[i] + nums[i + 1], min1)
    
        return min1
    except IndexError:
        print("Limited data")
        return

In [ ]:
import random

random.seed(50)

N_MAX = 10
RANGE_MIN = 1
RANGE_MAX = 100
nums = random.sample(range(RANGE_MIN, RANGE_MAX), N_MAX)

print(nums)
print(min_pair(nums))

[64, 35, 47, 82, 32, 89, 61, 99, 43, 11]
54

In [ ]:
help(min_pair)

Help on function min_pair in module __main__:

min_pair(nums)
    Returns the minimum sum of adjacent 2 numbers in the 'nums'.

# 7.2.5

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 9-14
"""


def non_negatives(nums):
    """Removes negative elements from the list of numbers 'nums' and returns
    modified list."""
    i = 0
    try:
        while i < len(nums):
            if nums[i] < 0:
                del nums[i]
            else:
                i += 1
        return nums
    except ValueError:
        return

In [ ]:
import random

n = 10
nums = [round(random.uniform(-10, 10), 2) for i in range(n)]
print(nums)

non_negatives(nums)
print(nums)

[-1.46, 0.35, 0.64, 3.48, -0.01, 6.53, -3.99, 7.15, 5.16, -7.0]
[0.35, 0.64, 3.48, 6.53, 7.15, 5.16]

In [ ]:
help(non_negatives)

Help on function non_negatives in module __main__:

non_negatives(nums)
    Removes negative elements from the list of numbers 'nums' and returns
    modified list.

# 7.2.6

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 9-10 12-13 15 20-21
"""


def unemployment_rate(unemployed, employed):
    """Return the unemployment rate (UB) in fractions of 1.
      Calculation according to the formula: UB = Unemployed / (Employed + Unemployed).
    """
    if unemployed >= 0 and employed >= 0:
      return unemployed / (unemployed + employed)
    else:
      raise ValueError('Check your data')

try:
  unemployed = int(input("Enter the number of unemployed (people): "))
  employed = int(input("Enter the number of employees (people): "))
  rate = unemployment_rate(unemployed, employed)
  print("Unemployment rate = {:.1%}".format(rate))
except ValueError:
  print('Check your data')

Enter the number of unemployed (people): 8
Enter the number of employees (people): 24
Unemployment rate = 25.0%

In [ ]:
help(unemployment_rate)

Help on function unemployment_rate in module __main__:

unemployment_rate(unemployed, employed)
    Return the unemployment rate (UB) in fractions of 1.
    Calculation according to the formula: UB = Unemployed / (Employed + Unemployed).

# 7.2.7

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 11 17 20
"""


def power(x, y=2):
    """Returns x^y."""
    if y == 0:
        return 1
    elif y < 0:
      raise ValueError('y can not have negative value')
    else:
        return x ** y

try:
  x = int(input("x="))
  y = int(input("y="))
  print(power(x, y))
except ValueError:
  print('y can not have negative value')

x=4
y=2
16

In [ ]:
help(power)

Help on function power in module __main__:

power(x, y=2)
    Returns x^y.

# 7.2.8

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 9 14 19
"""


# Дан список ФИО. Найти наиболее часто встречаемое отчество.
# Если отчества нет, человек не учитывается в подсчете.

n = int(input("Введите кол-во человек: "))

middle_names = {}
for i in range(n):
    fio = input("Введите ФИО через пробел: ").split()
    try:
      middle_name = fio[2]
      middle_names[middle_name] = middle_names.get(middle_name, 0) + 1
    except IndentationError:
      pass

print(sorted(middle_names.items(), key=lambda item: item[1])[-1][0])
print("В расчете участвовало человек:", n)

Введите кол-во человек: 3
Введите ФИО через пробел: Иванов Павел Викторович
Введите ФИО через пробел: Павлов Константин Иванович
Введите ФИО через пробел: Юрьев Иван Викторович
Викторович
В расчете участвовало человек: 3

# 7.2.9

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 26 29 30
"""


def f(x):
    """Return the value of the function.

    The function does not handle exceptions.
    """
    return x**2 / (x + 2) - 3

try:
    k = int(input("Enter the interval boundary [-k; k]: "))
    h = float(input("Enter the tab step: "))

    x = -k
    print("{:>10} {:>10}".format("x", "f(x)"))
    while x <= k:
      # Если во время вычисления функции возникнет ошибка,
      # при выводе необходимо указать прочерк "-"
      # Данный случай должен обрабатывать второй вложенный блок try
      try:
        print("{:10.2f} {:10.2f}".format(x, f(x)))
      except:
        print("{:10.2f} {:>10s}".format(x, '-'))
      x += h

except ValueError:
 print('Check your data ')

# --------------
# Пример вывода:
#
# Введите границу интервала [-k; k]: 5
# Введите шаг табуляции: 0.5
#          x       f(x)
#      -5.00     -11.33
#      -4.50     -11.10
#      -4.00     -11.00
#      -3.50     -11.17
#      -3.00     -12.00
#      -2.50     -15.50
#      -2.00          -
#      -1.50       1.50
#      -1.00      -2.00
#      -0.50      -2.83
#       0.00      -3.00
#       0.50      -2.90
#       1.00      -2.67
#       1.50      -2.36
#       2.00      -2.00
#       2.50      -1.61
#       3.00      -1.20
#       3.50      -0.77
#       4.00      -0.33
#       4.50       0.12
#       5.00       0.57

Enter the interval boundary [-k; k]: 5
Enter the tab step: 0.5
         x       f(x)
     -5.00     -11.33
     -4.50     -11.10
     -4.00     -11.00
     -3.50     -11.17
     -3.00     -12.00
     -2.50     -15.50
     -2.00          -
     -1.50       1.50
     -1.00      -2.00
     -0.50      -2.83
      0.00      -3.00
      0.50      -2.90
      1.00      -2.67
      1.50      -2.36
      2.00      -2.00
      2.50      -1.61
      3.00      -1.20
      3.50      -0.77
      4.00      -0.33
      4.50       0.12
      5.00       0.57

In [ ]:
help(f)

Help on function f in module __main__:

f(x)
    Return the value of the function.

    The function does not handle exceptions.

# 7.2.10

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): 28 39
"""


# В программе хранится словарь вступительных экзаменов вида Предмет=Баллы.
# Узнать, проходит ли абитуриент на специальность, если нужно сдать
# все перечисленные экзамены с не меньшим количеством баллов.

необходимые_экзамены = {
    "Информатика": 80,
    "Математика": 85,
    "Русский язык": 75
}

print("""Для определения возможности поступления, необходима информация о Вас.

Для ввода экзамена и баллов введите их через |: Химия | 40.
Для завершения ввода нажмите Enter.
""")

сданные_экзамены = {}
while True:
    ввод = input("").strip()
    if ввод == "":
        break
    try:
      экзамен, балл = [x.strip() for x in ввод.split("|")]
      сданные_экзамены[экзамен] = int(балл)
    except ValueError:
      print('Неккоректный ввод данных')

print("Ваши экзамены:")
for i, (экзамен, балл) in enumerate(сданные_экзамены.items(), start=1):
    print("{}) {} {}".format(i, экзамен, балл))

ok = False
for необходимый_экзамен, баллы in необходимые_экзамены.items():
    if сданные_экзамены[необходимый_экзамен] < баллы:
        break
else:
    ok = True

print("Вы можете к нам поступить!" if ok else "Увы...")

Для определения возможности поступления, необходима информация о Вас.

Для ввода экзамена и баллов введите их через |: Химия | 40.
Для завершения ввода нажмите Enter.

Математика | 88
Русский язык | 80
Информатика | 88

Ваши экзамены:
1) Математика 88
2) Русский язык 80
3) Информатика 88
Вы можете к нам поступить!

# 7.2.11

In [ ]:
"""
Ошибки (номера строк через пробел, данная строка - №2): !!!
"""


class NoMoneyToWithdrawError(Exception):
    def __init__(self, message):
        super().__init__(message)


class PaymentError(Exception):
    def __init__(self, message):
        super().__init__(message)


def print_accounts(accounts):
    """Печать аккаунтов."""
    print("Список клиентов ({}): ".format(len(accounts)))
    for i, (name, value) in enumerate(accounts.items(), start=1):
        print("{}. {} {}".format(i, name, value))


def transfer_money(accounts, account_from, account_to, value):
    """Выполнить перевод 'value' денег со счета 'account_from' на 'account_to'.

    При переводе денежных средств необходимо учитывать:
        - хватает ли денег на счету, с которого осуществляется перевод;
        - перевод состоит из уменьшения баланса первого счета и увеличения
          баланса второго; если хотя бы на одном этапе происходит ошибка,
          аккаунты должны быть приведены в первоначальное состояние
          (механизм транзакции)
          см. https://ru.wikipedia.org/wiki/Транзакция_(информатика).

    Исключения (raise):
        - NoMoneyToWithdrawError: на счету 'account_from'
                                  не хватает денег для перевода;
        - PaymentError: ошибка при переводе.
    """
    # Удалите комментарий и допишите код


if __name__ == "__main__":
    accounts = {
        "Василий Иванов": 100,
        "Екатерина Белых": 1500,
        "Михаил Лермонтов": 400
    }
    print_accounts(accounts)

    payment_info = {
        "account_from": "Екатерина Белых",
        "account_to": "Василий Иванов"
    }

    print("Перевод от {account_from} для {account_to}...".
          format(**payment_info))

    payment_info["value"] = int(input("Сумма = "))

    transfer_money(accounts, **payment_info)

    print("OK!")

    print_accounts(accounts)